/* Style for Body */
body {
    width: 100%;
    height: 100%;
    padding-bottom: 0px;
    background-image: url('https://picsum.photos/1300/800?image=971');
    -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
    overflow: hidden;


}

/* Styling for Navigator Menu*/

.menu {

    background-color: #fff;
    width: 100%;
    height: 100%;
    margin-top: 0%;
    font-size: 100%;
    text-align: center;
    overflow: hidden;
    margin: auto;
    margin-bottom: -.66%;

}

/* Styling for Name*/

.name {
    font-family: Georgia, 'Times New Roman', Times, serif;
    width: 100%;
    width: auto;
    font-size: 23px;
    color: #fff;
    letter-spacing: 1px;
    background-color: #4aaaa5;
    padding: 25px;
    float: left;
    margin-left: 14%;
    margin-right: 40%;
    margin-bottom: 0;

}

/* Styling for Buttons*/


ul#horizontal-list {
    min-width: 20px;
    list-style: none;
    padding-top: 40px;
    float: left;
    overflow: hidden;
    margin-right: 10%;

}

ul#horizontal-list li {
    clear: both;
    display: inline;
    font-family: Arial, Helvetica, sans-serif;
    margin-right: 0%;
    overflow: hidden;
}


/* unvisited link */
a:link {
    color: darkgrey;
    text-decoration: none;
}

/* visited link */
a:visited {
    color: darkgrey;
}

/* mouse over link */
a:hover {
    color: teal;
}

/* selected link */
a:active {
    color: black;
}

/** Styling for Main Content **/

.wrapper {
    clear: both;
    background-color: #fff;
    padding: 20px;
    width: 960px;
    height: 100%;
    margin-bottom: 40%;
    margin: auto;
    overflow: hidden;
}




hr {
    border-color: #ddd;
    margin-bottom: 10px;
}
/* Styling for About Me */

#about {
    clear: both;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #4aaaa5;
    font-size: 23px;
    letter-spacing: 1px;
    text-align: left;
    width: 960px;
    margin-bottom: 1%;
    margin: auto;
    padding: 15px;

}


/* Style two columns that floats next to each other */

.column {
    clear: both;
    float: left;
    width: 20%;
    display: inline-block;
}

/* Clear floats after image containers */
.row::after {
    clear: both;
    float: left;
    width: 20%;
    display: block;

}

/* Styling for image lables */


.box-set {
    clear:both;
    background: #fff;
    width: 400px;
    height: 100px;
    position: relative;
}

.box {
    clear: both;
    background: #4aaaa5;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    font-size: 14px;
    color: #fff;
    height: 25px;
    width: 140px;
    margin-left: 4px;
    position: absolute;

}

/* Style for Hangman */

.box-1 {

    top: -275px;
    left: -5px;
    z-index: 5;

}

/* Style for RPG Game */

.box-2 {

    top: -275px;
    right: 68px;
    z-index: 4;
}


/* Style for Trivia Game */

.box-3 {

    top: -150px;
    left: -5px;
    z-index: 3;

}

/* Style for Rutgers Info Widget */

.box-4 {
    top: -160px;
    right: 68px;
    z-index: 2;

}

/* Style for Rock Paper Scissors */

.box-5 {

    top: -40px;
    left: -4.5px;
    z-index: 1;

}



/** Styling for footer **/

.footer {
    width: 100%;
    position: fixed;
    bottom: 0;
}



.container2 {
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
    letter-spacing: .5px;
    text-align: center;
    background-color: #666666;
    color: #fff;
    line-height: 50%;
    bottom: 0;
    padding: 30px;
    margin-top: 0%;
}

p.separator2 {
    width: 100%;
    border-top: 3px solid #4aaaa5;
    border-bottom: 3px solid#4aaaa5;
}


/* Apply only to screens at 980*/

@media only screen and (max-width: 980px){

    body {
        width: 100%;
        display:block;
       }

    .row {
        width: 100%;
        display: block;
    }
    .menu {
        width: 100%;
        display: block;
    }
    
    .name {
        width: 100%;
        margin: auto;
        text-align: center;
    }
    ul#horizontal-list {
        width: 100%;
        display: block;
    }
    .wrapper {
        width: 100%;
        display: block; 
    }
    .container {
        width: 100%;

    }
    }


/* Apply only to screens at 768  and 640 */
@media only screen and (max-width: 768px) and (max-width: 640px){
    body {
        width: 100%;
        display: block;
        background-size: cover;

    }
    
    .menu {
        width: 100%;
        display: block;

    }
    .name {
        width: 100%;
        margin: auto;
        text-align: center;
    }
    .wrapper {
        width: 100%;
        display: block;
    }
    .container {
        width: 100%;
        display: block;

    }
    .row {
        width: 100%;
        display: block;
        padding-left: 10px;
    }
    
    .column {
        width: auto;
        margin: auto;
       
    }

    .box-set {
        width: 100%; 
        display: block;
        margin-right: auto;

    }
    


    .row::after {
        clear: both;
        width: 100%;
        display: block;
       
    }


    .footer {
        width: 100%;
        height: 10%;
        display: block;

    }
}   


